a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration,input[type=search]::-webkit-search-results-button,input[type=search]::-webkit-search-results-decoration{-webkit-appearance:none;-moz-appearance:none}input[type=search]{-webkit-appearance:none;-moz-appearance:none;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}textarea{overflow:auto;vertical-align:top;resize:vertical}audio,canvas,video{display:inline-block;max-width:100%}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}a:focus{outline:thin dotted}a:active,a:hover{outline:0}img{border:0;-ms-interpolation-mode:bicubic}figure{margin:0}form{margin:0}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0;white-space:normal}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline}button,input{line-height:normal}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}button,html,input,select,textarea{color:#222}::-moz-selection{background:#b3d4fc;text-shadow:none}::selection{background:#b3d4fc;text-shadow:none}img{vertical-align:middle}fieldset{border:0;margin:0;padding:0}textarea{resize:vertical}.chromeframe{margin:.2em 0;background:#ccc;color:#000;padding:.2em 0}
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

body {
  font-size: 62.5%;
  font-family: Noto Sans;
}

.App {
  background-color: grey;
}

.wrapper {
  width: 80vw;
  height: 100%;
  margin: 0 auto;
  background-color: white;
}

/* Navigation */

nav {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  background-color: #6F9DCE;
  padding: 10px 25px;
}

nav a {
  text-decoration: none;
  font-size: 0.8rem;
  color: white;
  padding: 0 10px 0 35px;
  border-left: 1px solid black;
  text-decoration: underline transparent;
  transition: all 0.7s ease;
  position: relative;
  
}


nav a:first-of-type {
  padding-left: 0;
  border-left: none;
}

nav a:last-of-type {
  padding-right: 0;
}


nav a:hover, a:active {
  text-decoration: underline white;

}

/* MAIN */

main {
  display: flex;
  max-width: 100%;
  overflow: hidden;
}

.leftSection {
  width: 40%;
  margin-left: 20px;
}

/* PROFILE INFORMATION */

.leftSection h1 {
  font-size: 1rem;
  font-weight: bold;
  padding: 10px 5px 5px 0;
}

.profileInformation {
  display: flex;
}

.profileInformation div {
  margin: auto 0;
  padding-left: 10px;
  font-size: 0.8rem;
  line-height: 15px;

}

.profilePhoto {
  width: 200px;
  height: 300px;
  object-fit: cover;
}


.profileInformation p:nth-of-type(1) {
  margin-top: 90px;
}

.profileInformation p:nth-of-type(6) {
  padding-top: 80px;
}

 /* VIEW MEDIA */

 .viewMedia {
   display: flex;
   font-size: 0.8rem;
   width: 200px;
   margin-top: 20px;
   margin-bottom: 20px;
 }

 .viewMedia a:first-of-type {
   margin-left: 10px;
 }

 .viewMedia a {
   margin: 0 5px 0 5px;
   text-decoration: none;
   color: #070791;
 }

 .viewMedia a:nth-of-type(2)::before {
   content: '|';
   height: 100%;
   width: 100%;
   margin-right: 10px;
 }

 /* CONTACT MENU*/

 .contactMenu {
  border: 2px solid #6F9DCE;
  width: 285px;
  height: 150px;
  margin-top: 10px;
 }

 .contactMenu h3 {
   font-size: 0.8rem;
   font-weight: bold;
   color: white;
   background-color: #6F9DCE;
   height: 15px;
   padding-left: 10px;
 }

 .menu {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 30px 30px 30px;
  font-size: 0.8rem;
  margin-left: 12px;
  margin-top: 10px;

 }

 .menu a {
   text-decoration: none;
   color: #070791;
 }

 .faIcons {
   margin-right: 5px;
   color: #d85803;
 }

 /* URL */

 .urlContainer {
   display: flex;
   width: 285px;
   height: auto;
   border: 2px solid #6F9DCE;
   margin-top: 20px;
   padding: 2px 0 5px 0;
  }
  
  .urlContainer h3 {
    font-size: 0.8rem;
    font-weight: bold;
    margin-left: 5px;
  }
  
  .urlContainer a {
    font-size: 0.8rem;
    text-decoration: none;
    text-decoration: underline transparent;
    color: #070791;
    transition: all 0.3s ease;
    margin-left: 20px;
 }

 .urlContainer a:hover, a:active {
   text-decoration: underline;
 }

 /* REACT PLAYER */

 .reactPlayerContainer {
   width: 285px;
   height: 200px;
 }

 .reactPlayer {
   margin-top: 20px;
 }


 /* RIGHT SECTION */

.rightSection {
  min-width: 60%;
}

.rightSection h2 {
  width: 500px;
  margin-top: 10px;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  padding: 30px;
  border: 2px solid black;
}

/* BLOG */

.blogSection {
  display: flex;
  font-size: 0.8rem;
  margin-top: 20px;
}

.blogSection p {
  font-weight: bold;
  margin-right: 10px;
}

.blogSection a {
  text-decoration: none;
  color: #070791;
}

.viewBlog {
  margin-top: 20px;
  font-size: 0.8rem;
}

.viewBlog a {
  text-decoration: none;
  color: #070791;
  margin-left: 10px;
}

.blogSection span, .viewBlog span {
  color: black;
}

/* ABOUT ME */

.aboutMeSection {
  margin-top: 20px;
}

.aboutMeSection h3 {
  font-size: 0.8rem;
  font-weight: bold;
  background-color: #FABD7E;
  color: #d85803;
  height: 15px;
  width: 500px;
  padding-left: 10px;
}

.aboutMe {
  width: 500px;
}

.aboutMe h4 {
  font-weight: bold;
  color: #d85803;
  margin-top: 10px;
}

.aboutMe h4, p {
  font-size: 0.8rem;
  padding-left: 10px;
}

.aboutMe p {
  margin-top: 5px;
  line-height: 20px;
}

.aboutMe span {
  font-weight: bold;
}

.red {
  color: red;
}

.orange {
  color: orange;
}

.yellow {
  color: rgb(250, 204, 0);
}

.green {
  color: green;
}

.blue {
  color: blue;
}

.indigo {
  color: indigo;
}


/* TOP FRIENDS */

.topFriends {
  margin-top: 20px;
}

.topFriends p {
  margin-top: 10px;
  font-weight: bold;
}

.topFriends span {
  color: #d85803; 
}

.topEight {
  margin-top: 20px;
  width: 500px;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 100px;
  gap: 30px 0;
  justify-items: center;
  text-align: center;
}

.topEight h4 {
  font-size: 0.8rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.topEight img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

/* COMMENTS */

.commentSection {
  margin-top: 20px;
  width: 500px;
}

.commentSection h3 {
  font-size: 0.8rem;
  font-weight: bold;
  background-color: #FABD7E;
  color: #d85803;
  height: 15px;
  width: 500px;
  padding-left: 10px;
}

.commentSection label {
  margin: 10px 0 10px 0;
  font-family: Noto Sans;
  font-size: 0.8rem;
}

.commentSection form {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
}

.commentSection textarea {
  width: 100%;
  height: 75px;
  resize: none;
  background-color: white;
  border: 2px solid #6F9DCE;
  font-family: Noto Sans;
  font-size: 0.8rem;
  padding: 5px 0 0 5px;
}


.addButton {
  width: 100%;
  margin-top: 2px;
  border-radius: 0;
  font-family: Noto Sans;
  font-size: 0.8rem;
  color: black;
  background-color: white;
  border: 2px solid #6F9DCE;
}

.userCommentSection {
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
}

.userComment img {
  /* width: 75px; */
  width: 75px;
  height: 100%;
  object-fit: cover;
  background-color: white;
  border-right: 2px solid #6F9DCE;
}

.userCommentSection li {
  width: 350px;
  margin-right: 20px;
  padding-left: 20px;
  font-size: 0.8rem;
  line-height: 20px;
  align-self: center;
}

.removeButton {
  width: 30px;
  height: 25px;
  font-size: 1rem;
  align-self: center;
  padding: 0;
}

.userComment {
  display: flex;
  width: 480px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  background-color: white;
  border: 2px solid #6F9DCE;
  margin: 2px 0 0 0;
}

.firstDate {
  width: 480px;
  height: 27px;
  border: 2px solid #6F9DCE;
  border-top: 0;
  text-align: center;
  padding-right: 10px;
  padding-top: 5px;
}

.date {
  display: flex;
  justify-content: space-between;
  border: 2px solid #6F9DCE;
  border-top: 0;
  width: 480px;
}

.date p {
  width: 90%;
  margin-left: 5%;
  padding-top: 5px;
  text-align: center;
}


/* FOOTER */

footer {
  height: 30px;
  width: 100%;
  background-color:#6F9DCE;
  margin-top: 20px;
}

footer p {
  width: 100%;
  text-align: center;
  padding-top: 10px;
}

footer a {
  text-decoration: none;
  color: white;
}




/* MEDIA */



@media (max-width: 1090px) {

  main {
    flex-direction: column;
    width: 100%;
  }

  .leftSection {
    width: 100%;
    margin-left: 20px;
  }

  /* PROFILE INFORMATION */

  .leftSection h1 {
    width: 90%;
  }

  .profileInformation {
    width: 300px;
    /* margin: 0 auto; */
  }

  .profileFlex {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  /* VIEW MEDIA */

  .mediaHeader {
    width: 385px;
    margin-top: 30px;
    margin-left: 25px;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    padding: 30px;
    border: 2px solid black;
  }


  /* CONTACT MENU DONE */ 

  .menuFlex {
    width: 90%;
    display: flex;
    justify-content: space-between;
  }

  .contactMenu {
    width: 385px;
    margin: 20px 20px 0 25px;
  }

  .menu {
    column-gap: 50px;
  }


  /* URL done */

  .urlContainer {
    margin-left: 75px;
    }


   /* REACT PLAYER  done*/


  .reactPlayerContainer {
    width: 90%;
    height: 300px;
    margin-left: 20px;
  }

  .rightSection {
    padding-top: 50px;
    margin: 0 auto;
  }

  .rightSection h2 {
    display: none;
  }

  .mediaBlog {
    display: flex;
    margin-left: 10px;
  }


}

